@charset "utf-8";
/* CSS Document */

/* #Media Queries
================================================== */
/* Smaller than standard 1200px (devices and browsers) */
@media only screen and (max-width: 1200px) {
.container {
	width:90%;
	margin:0 auto;
}
}
@media only screen and (max-width: 1280px) {
header{
	/*padding:1%;*/
	}


}


/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 600px) and (max-width : 1024px) {
/* Styles */

}
/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
	
	
}
/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
#main{
	  width:100%;
	  padding:0;
	  margin:0 auto;
	  padding-top:56px;
	}
header nav{
    width: 70%;
}
.ace-responsive-menu > li > a {
    padding: 5px 1px 5px 10px;
    font-size: 11px;
}
}
/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
#main {
    margin:0 auto;
    padding:56px 0 0;
    width:100%;
}
header {
    background:#fff none repeat scroll 0 0;
    left:0;
    position:fixed;
    transition:height 0.3s ease 0s;
    width:100%;
    z-index:999;
}
header .logo{
	width:15%;
	}
header.smaller .logo{
	width:12%;
	}


}

@media only screen and (min-device-width : 480px) and (max-device-width : 767px) and (orientation : landscape) {
#main{
	padding:0px;
	}
header{
	padding:1% 0 2% 0!important;
	}
header.smaller {
    height:70px!important;
	}
header .logo {
    float:left!important;
    width:23%!important;
	position:absolute;
	left:20px;
	}
header nav {
    display:inline-block;
    float:right;
    padding:2% 2% 0 0!important;    
    width:100%;
	}

}
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
	width:100%;
	padding:15px;
}
header {
	width:100%;
	height:auto;
	position:relative;
}
header.smaller {
	top:0;
	height:220px;
	background-color:#fff;
}
header .logo {
    float:left!important;
    width:26%!important;
	position:absolute;
	left:20px;
	top:10px!important;
	}
header nav {
    display:inline-block;
    float:right;
    padding:4% 0 0 0;
    width:100%;
	}
header.smaller .logo {
	width:60%;
	text-align:center;
	margin:0 auto;
	float:none;
}
#main{
	padding:0px;
	}


}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape){

}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
:root{
	--header-height: 97px;
}
/* Styles */
th, td {
    font-size: 12px;
}
p{
	/*text-align: justify;*/
	font-size: 15px;
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
	width:100%;
	padding:15px;
}
.fa_menuarrow{
	display:none!important;
	}
header {
width: 100%;
    height: auto;
    position: fixed; 
  
}
header.smaller {
	top:0;
	height:110px;
	background-color:#fff;
}
header .logo {
	float: left!important;
	width: 100px !important;
	position: static;
	/*left: 20px;
	top: 14px!important;*/
	z-index: 999;
	order: 2;
}
header nav {
    display:inline-block;
    float:right;
    padding:5%;
    width:100%;
    margin-top: 0%;
    max-height: calc(100vh - 60px);
    overflow: auto;
}
header.smaller .logo {
	width: 80px !important;
	text-align:center;
	margin: unset;
	float:none;
}
header .upper_sec{
	padding: 10px 0;
}
header .upper_sec .my_account_links{
	order: 3;
}
header .upper_sec .my_account_links .head{
	font-size: 20px;
	padding: 5px;
}
header .upper_sec .my_account_links ul{
	z-index: 1;
}
header .upper_sec .search_wrapper{
	width: 100%;
	order: 5;
	margin: 10px 0 0 0;
}
header.smaller .upper_sec .search_wrapper{
	margin: 5px 0 0 0;
}
header .upper_sec .search_wrapper .clear_search{
	--size: 12px;
}
header .upper_sec .search_wrapper .input_box{
	width: calc(100% - 41px);
}
header .upper_sec .search_wrapper .input_box input{
	width: 100%;
	font-size: 14px;
	padding: 6px 20px;
}
header .upper_sec .search_wrapper .icon_box{
	font-size: 16px;
	padding: 7px 15px 7px 10px;
}
header .upper_sec .menu_cart_wrapper{
	position: relative;
	order: 4;
}
header .upper_sec .menu_cart_wrapper .cart_count_wrapper .text{
	display: none;
}
header .upper_sec .menu_cart_wrapper .cart_count_wrapper{
	padding: 3px;
    background: var(--red);
    color: #fff;
    border-radius: 50%;
    font-size: 10px;
    position: absolute;
    right: -12px;
    top: -8px;
}

header .lower_sec{
	position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: #00000080;
    z-index: 999;
    display: none;
}
header .lower_sec .container{
	width: 80%;
	left: 0;
	height: 100%;
	background-color: #fff;
	margin: 0 auto 0 0;
	transform: translateX(-100%);
}
header .lower_sec .container .menu-toggle{
	display: none;
}
header .lower_sec .container ul.ui-tabs-nav{
	display: flex;
}
header .lower_sec .container ul.ui-tabs-nav li{
	width: 50%;
}
header .lower_sec .container ul.ui-tabs-nav li a{
	display: block;
	text-align: center;
	padding: 20px 10px;
	background-color: #f5f5f5;
	text-transform: uppercase;
	font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
    border-bottom: 1px solid #ddd;
}
header .lower_sec .container ul.ui-tabs-nav li.ui-state-active a{
	background-color: #e8e8e8;
	color: var(--red);
    border-bottom: 1px solid var(--red);
}

.mobile_menu_btn{
	display: inline-flex;
	align-items: center;
	order: 1;
}
.mobile_menu_btn .txt{
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
	color: #000;
}
.mobile_menu_btn .menu_btn{
	background-color: transparent;
	border: none;
	outline: none;
}
.mobile_menu_btn .menu_btn .icon-bar{
	display: block !important;
    width: 16px;
    height: 2px;
    background-color: #000000;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    /* -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); 
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    /* box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); */
    margin: 3px;
}

#main {
    padding-top: var(--header-height) !important;
}
.ace-responsive-menu{
	display: block! important;
	margin: 0;
}
.ace-responsive-menu > li > a {
    padding: 5px 0 0 12px!important;
}
.ace-responsive-menu  li  a .arrow{
	line-height: 0.5em;
	margin: 0 0 0 5px;
}
.ace-responsive-menu > li {
    padding: 8px 0!important;
}
.ace-responsive-menu li ul.sub-menu{
	margin-top: 8px;
	box-shadow: none;
}
.ace-responsive-menu > li > ul.sub-menu li{
	/*border-top: 1px solid #e3e3e3;*/
}
.ace-responsive-menu > li > ul.sub-menu li > a > .arrow:before{
	margin: 0;
	font-size: 12px;
}
.ace-responsive-menu > li > ul.sub-menu > li ul.sub-menu{
	margin-top: 0;
}
#category_menu{
	width: 100%;
}
#category_menu.ace-responsive-menu li a{
	border-right: 0;
	/*padding: 5px 10px;*/
}
#category_menu.ace-responsive-menu li ul.sub-menu{
	border-top: 1px solid #e3e3e3;
	margin: 12px 0 0 15px;
	width: unset;
}

.swiper-horizontal{
	overflow: unset;
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
	bottom: -30px;
}


header{
	/*display: none;*/
}

.hero .main_hero_slider .swiper-slide a{
	flex-direction: column-reverse;
	justify-content: center;
}
.hero .main_hero_slider .swiper-slide a .category_title{
	width: 100%;
	padding: 10px 0 0 0;
	text-align: center;
	font-size: 30px;
}
.hero .main_hero_slider .swiper-slide a .image_wrapper{
	width: 80%;
	margin: 0 auto;
}

.products_wrapper .product_box{
	width: calc(50% - 10px);
}
.products_wrapper .product_box .add_to_cart_inputs .add_to_cart{
	padding: 5px 15px;
	font-size: 11px;
}
.products_wrapper .product_box .add_to_cart_inputs .number_input button{
	width: 40px;
	height: 30px;
}
.products_wrapper .product_box .add_to_cart_inputs .number_input input{
	width: 45px;
	height: 30px;
}

footer .upper_sec .icon_box{
	padding: 10px;
}
footer .middle_sec .text_box p{
	font-size: 15px;
	color: #969696;
}
footer .lower_sec p{
	color: #969696;
}
.quick_view_wrapper .inner_box .quick_view_box{
	flex-wrap: wrap;
}
.quick_view_wrapper .inner_box .quick_view_box .left_pane{
	width: 100%;
}
.quick_view_wrapper .inner_box .quick_view_box .left_pane a.view_details{
	transform: none;
}
.quick_view_wrapper .inner_box .quick_view_box .right_pane{
	width: 100%;
}
.product_info .heading{
	margin: 10px 0;
}
.product_info .number_input button{
	height: 30px;
	width: 35px;
}
.product_info .number_input input{
	height: 30px;
}
.product_info .add_to_cart_inputs .add_to_cart{
	font-size: 12px;
	padding: 8px 20px;
}
.product_info .other_btns a{
	padding: 7px 15px;
	font-size: 12px;
}

.cart_wrapper .inner_box .cart_box{
	width: 80%;
}
.heading.back_stroke::before{
	display: none;
}
.heading.back_stroke span{
	padding: 0;
}
.heading{
	font-size: 25px;
}
.industries_page .section_two .industries_slider .item_box .red_filled_btn{
	font-size: 12px;
	padding: 8px 13px;
}
.swiper-button-prev{
	left: 0;
}
.swiper-button-next{
	right: 0;
}
.operation_manual_page .text_box{
	text-align: center;
}
.operation_manual_page .pdf_boxes .pdf_box{
	width: 50%;
}

.safety_standards_page .info_boxes .middle_line{
	display: none;
}
.safety_standards_page .info_boxes .info_box{
	width: 100%;
	text-align: center;
	padding: 0 5px 15px;
}
.safety_standards_page .info_boxes .info_box .inner_box{
	padding: 15px;
}
.safety_standards_page .info_boxes .info_box .inner_box::before{
	display: none;
}
.safety_standards_page .info_boxes .info_box:nth-child(odd){
	text-align: center;
}
.safety_standards_page .info_boxes .info_box:nth-child(even) .inner_box::after{
	display: none;
}
.brochure_page .section_one .brochure_wrapper .brochure_box{
	width: 50%;
}

.competitors_search_wrapper .competitors_search .input_box input{
	width: 100%;
}

.products_list_page .products_wrapper .inner_container .left_pane{
	position: fixed;
    left: 0;
    top: 0;
    background: #00000042;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    padding: 0;

    display: none;
}
.products_list_page .products_wrapper .inner_container .left_pane .filters_wrapper{
	width: 80%;
    background: #fff;
    height: 100%;
    padding: 15px;
    overflow: auto;
    transform: translateX(-100%);
}
.products_list_page .products_wrapper .inner_container .right_pane{
	width: 100%;
}
.products_list_page .products_wrapper .inner_container .right_pane .list_heading{
	flex-wrap: wrap;
	padding: 0 10px 10px 10px;
}
.products_list_page .products_wrapper .inner_container .right_pane .list_heading .breadcrumbs{
	width: 100%;
}
.products_list_page .products_wrapper .inner_container .right_pane .list_heading .total_count_text{
	padding: 0 10px 10px 5px;
}
.products_list_page .products_wrapper .inner_container .right_pane .list_heading .show_filter_btn_wrapper{
	width: 100%;
	padding: 10px 10px 0 5px;
	border-top: 1px solid #6d6e70;
}
.products_list_page .products_wrapper .inner_container .right_pane .list_heading .show_filter_btn_wrapper .show_filter_btn{
	display: inline-flex;
	align-items: center;
	border: none;
	outline: none;
	background-color: transparent;
}
.products_list_page .products_wrapper .inner_container .right_pane .list_heading .show_filter_btn_wrapper .show_filter_btn .three_lines span.icon-bar{
	display: block !important;
    width: 12px;
    height: 2px;
    background-color: #333;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    margin: 2px;
}
.products_list_page .products_wrapper .inner_container .right_pane .list_heading .show_filter_btn_wrapper .show_filter_btn .text{
	color: #333;
	padding: 0 0 0 5px;
	font-size: 14px;
}

.products_list_page .products_wrapper .inner_container .right_pane .products_list .product_box .img_box{
	width: 100%;
}
.products_list_page .products_wrapper .inner_container .right_pane .products_list .product_box .text_box{
	width: 100%;
}
.breadcrumbs ul{
	flex-wrap: wrap;
}
.breadcrumbs ul li{
	padding: 10px 11px 10px 5px;
}
.breadcrumbs ul li .txt{
	font-size: 13px;
}

.product_detail_page .section_one .inner_container .col-sm-6{
	padding: 0;
}
.product_detail_page .right_pane .heading_pane{
	flex-wrap: wrap;
}
.product_detail_page .right_pane .heading_pane .breadcrumbs{
	width: 100%;
}
.product_detail_page .right_pane .heading_pane .breadcrumbs ul{
	padding: 10px 0 0 0;
}
.product_detail_page .right_pane .heading_pane .breadcrumbs ul li{
	padding: 3px 11px 3px 5px;
}
.product_detail_page .right_pane .heading_pane .other_nav{
	margin: 0 0 0 auto;
}
.product_detail_page .product_info .other_btns{
	flex-wrap: wrap;
}
.product_detail_page .product_info .other_btns a{
	margin: 0 10px 10px 0;
}
.product_detail_page .tabs_wrapper #tabs-content{
	padding: 10px 0 25px 0;
}
.product_detail_page .product_images{
	flex-wrap: wrap-reverse;
}
.product_detail_page .product_images .thumbnails{
	width: 100%;
	display: flex;
}
.related_products{
	padding: 0 0 25px 0;
}
.related_products .swiper-pagination{
	bottom: 0;
}
.tabs #tabs-nav li a{
	padding: 5px 10px;
    font-size: 14px;
    border: 1px solid #ddd;
}
.tabs #tabs-content .tab-content table tr td{
	font-size: 12px;
	padding: 5px;
}

.my_account_page .info_wrapper .left_pane{
	width: 100%;
	border: none;
	padding: 0;
}
.my_account_page .info_wrapper .right_pane{
	width: 100%;
	padding: 0;
}
.my_account_page .info_wrapper .right_pane .inner_box{
	overflow: auto;
}
.my_account_page .info_wrapper .right_pane .nav_links .link_box{
	width: 100%;
}
.my_account_page .form_wrapper{
	margin: 0;
}
.my_account_page .form_wrapper [class*=col-sm]{
	padding: 0;
}
.form_wrapper form .input_box input[type=text]{
	height: 30px;
    padding: 5px 10px;
    font-size: 14px;
}
.form_wrapper form .input_box input[type=password]{
	height: 30px;
    padding: 5px 10px;
    font-size: 14px;
}
.form_wrapper form .input_box .password_wrapper button.eye{
	height: 30px;
    font-size: 14px;
}
.form_wrapper form .input_box select{
	height: 30px;
    padding: 5px 10px;
    font-size: 14px;
}
.form_wrapper form .input_box label{
	padding: 0 0 5px 10px;
	font-size: 12px;
}
.form_wrapper form .submit_box{
	/*padding: 0;*/
}
.form_wrapper form .submit_box .red_filled_btn{
	font-size: 12px;
    padding: 6px 18px;
    letter-spacing: 1px;
}

.cart_page{
	padding: 30px 0 0 0;
}
.cart_page .inner_container form{
	width: 100%;
}
.cart_page .inner_container .right_pane{
	width: 100%;
}
.cart_page .inner_container .right_pane .checkout_btn_wrapper{
	position: static;
	padding: 25px 0 0 0;
}

.cart_page .inner_container .cart_products_mobile .product_box{
	width: 100%;
	flex-direction: row;
	/*margin: 0;
	padding: 0;
	background-color: transparent;*/
	background: transparent;
	padding: 10px;
}
.cart_page .inner_container .cart_products_mobile .product_box .img_box{
	width: 80px;
}
.cart_page .inner_container .cart_products_mobile .product_box .right_info_box{
	width: calc(100% - 80px);
	padding: 0 0 0 10px;
}
.cart_page .inner_container .cart_products_mobile .product_box .right_info_box .product_title{
	padding: 0 0 10px;
	font-size: 14px;
}
.cart_page .inner_container .cart_products_mobile .product_box .right_info_box .product_description{
	font-size: 12px;
	padding: 0 0 10px;
}
.cart_page .inner_container .cart_products_mobile .product_box .right_info_box .quantity_wrap{
	display: flex;
	align-items: center;
	font-size: 12px;
}
.cart_page .inner_container .cart_products_mobile .product_box .right_info_box .quantity_wrap span{
	font-weight: 500;
	padding: 0 10px 0 0;
}
.cart_page .inner_container .cart_products_mobile .product_box .right_info_box .quantity_wrap .number_input button{
	width: 28px;
	height: 24px;
}
.cart_page .inner_container .cart_products_mobile .product_box .right_info_box .quantity_wrap .number_input input{
	height: 24px;
	width: 32px;
	font-size: 14px;
}
.cart_page .inner_container .cart_products_mobile .product_box .right_info_box .remove_product{
	position: absolute;
	right: 5px;
	top: 5px;
}

.checkout_page{
	padding: 30px 0 0 0;
}
.checkout_page .form_wrapper [class*=col-sm]{
	padding: 0;
}









}
/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
}

