@charset "utf-8";
/* CSS Document */

/* #Media Queries
================================================== */
/* Smaller than standard 1200px (devices and browsers) */
@media only screen and (max-width: 1200px) {
.container {
	width:90%;
	margin:0 auto;
}
}
@media only screen and (max-width: 1280px) {
header{
	/*padding:1%;*/
	}


}


/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 600px) and (max-width : 1024px) {
/* Styles */

}
/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
	
	
}
/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
#main{
	  width:100%;
	  padding:0;
	  margin:0 auto;
	  padding-top:56px;
	}
header nav{
    width: 70%;
}
.ace-responsive-menu > li > a {
    padding: 5px 1px 5px 10px;
    font-size: 11px;
}
}
/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
#main {
    margin:0 auto;
    padding:56px 0 0;
    width:100%;
}
header {
    background:#fff none repeat scroll 0 0;
    left:0;
    position:fixed;
    transition:height 0.3s ease 0s;
    width:100%;
    z-index:999;
}
header .logo{
	width:15%;
	}
header.smaller .logo{
	width:12%;
	}


}

@media only screen and (min-device-width : 480px) and (max-device-width : 767px) and (orientation : landscape) {
#main{
	padding:0px;
	}
header{
	padding:1% 0 2% 0!important;
	}
header.smaller {
    height:70px!important;
	}
header .logo {
    float:left!important;
    width:23%!important;
	position:absolute;
	left:20px;
	}
header nav {
    display:inline-block;
    float:right;
    padding:2% 2% 0 0!important;    
    width:100%;
	}

}
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
	width:100%;
	padding:15px;
}
header {
	width:100%;
	height:auto;
	position:relative;
}
header.smaller {
	top:0;
	height:220px;
	background-color:#fff;
}
header .logo {
    float:left!important;
    width:26%!important;
	position:absolute;
	left:20px;
	top:10px!important;
	}
header nav {
    display:inline-block;
    float:right;
    padding:4% 0 0 0;
    width:100%;
	}
header.smaller .logo {
	width:60%;
	text-align:center;
	margin:0 auto;
	float:none;
}
#main{
	padding:0px;
	}


}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape){

}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
th, td {
    font-size: 12px;
}
p{
	text-align: justify;
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
	width:100%;
	padding:15px;
}
.fa_menuarrow{
	display:none!important;
	}
header {
width: 100%;
    height: auto;
    position: fixed; 
  
}
header.smaller {
	top:0;
	height:110px;
	background-color:#fff;
}
header .logo {
	float: left!important;
	width: 100px !important;
	position: static;
	/*left: 20px;
	top: 14px!important;*/
	z-index: 999;
	order: 2;
}
header nav {
    display:inline-block;
    float:right;
    padding:2% 2% 0 0;
    width:100%;
    margin-top: 0%;
	}
header.smaller .logo {
	width:60%;
	text-align:center;
	margin:0 auto;
	float:none;
}
header .upper_sec .my_account_links{
	order: 3;
}
header .upper_sec .my_account_links .head{
	font-size: 20px;
	padding: 5px;
}
header .upper_sec .my_account_links ul{
	z-index: 1;
}
header .upper_sec .search_wrapper{
	width: 100%;
	order: 5;
	margin: 10px 0 0 0;
}
header .upper_sec .search_wrapper .clear_search{
	--size: 12px;
}
header .upper_sec .search_wrapper .input_box{
	width: calc(100% - 41px);
}
header .upper_sec .search_wrapper .input_box input{
	width: 100%;
	font-size: 14px;
	padding: 6px 20px;
}
header .upper_sec .search_wrapper .icon_box{
	font-size: 16px;
	padding: 7px 15px 7px 10px;
}
header .upper_sec .menu_cart_wrapper{
	position: relative;
	order: 4;
}
header .upper_sec .menu_cart_wrapper .cart_count_wrapper .text{
	display: none;
}
header .upper_sec .menu_cart_wrapper .cart_count_wrapper{
	padding: 3px;
    background: var(--red);
    color: #fff;
    border-radius: 50%;
    font-size: 10px;
    position: absolute;
    right: -12px;
    top: -8px;
}

header .lower_sec{
	position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: #00000080;
    z-index: 999;
}
header .lower_sec .container{
	width: 80%;
	left: 0;
	height: 100%;
	background-color: #fff;
	margin: 0 auto 0 0;
}
header .lower_sec .container .menu-toggle{
	display: none;
}

.mobile_menu_btn{
	display: inline-flex;
	align-items: center;
	order: 1;
}
.mobile_menu_btn .txt{
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
	color: #000;
}
.mobile_menu_btn .menu_btn{
	background-color: transparent;
	border: none;
	outline: none;
}
.mobile_menu_btn .menu_btn .icon-bar{
	display: block !important;
    width: 16px;
    height: 2px;
    background-color: #000000;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    /* -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); */
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    /* box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); */
    margin: 3px;
}

#main {
    padding-top: 54px!important;
}
.ace-responsive-menu{
	display: block! important;
}
.ace-responsive-menu > li > a {
    padding: 5px 0 0 12px!important;
}
.ace-responsive-menu > li {
    padding: 8px 0!important;
}

.swiper-horizontal{
	overflow: unset;
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
	bottom: -30px;
}


header{
	/*display: none;*/
}
.products_wrapper .product_box{
	width: calc(50% - 10px);
}
.products_wrapper .product_box .add_to_cart_inputs .add_to_cart{
	padding: 5px 15px;
	font-size: 11px;
}
.products_wrapper .product_box .add_to_cart_inputs .number_input button{
	width: 40px;
}
.products_wrapper .product_box .add_to_cart_inputs .number_input input{
	width: 45px;
}

footer .upper_sec .icon_box{
	padding: 10px;
}
footer .middle_sec .text_box p{
	font-size: 15px;
	color: #969696;
}
footer .lower_sec p{
	color: #969696;
}
.quick_view_wrapper .inner_box .quick_view_box{
	flex-wrap: wrap;
}
.quick_view_wrapper .inner_box .quick_view_box .left_pane{
	width: 100%;
}
.quick_view_wrapper .inner_box .quick_view_box .left_pane a.view_details{
	transform: none;
}
.quick_view_wrapper .inner_box .quick_view_box .right_pane{
	width: 100%;
}
.product_info .heading{
	margin: 10px 0;
}
.product_info .number_input button{
	height: 30px;
	width: 35px;
}
.product_info .number_input input{
	height: 30px;
}
.product_info .add_to_cart_inputs .add_to_cart{
	font-size: 12px;
	padding: 8px 20px;
}
.product_info .other_btns a{
	padding: 7px 15px;
	font-size: 12px;
}














}
/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
}

