:root{
	/*--red: #D21414;*/
	--red: #ec1c24;
	--lato: "Lato", sans-serif;
	--header-height: 131px;
	--line-size: 2px;
	--line-color: #000;
}
.cross_icon{
	background: linear-gradient(135deg, transparent calc(50% - (var(--line-size) / 2)), var(--line-color) calc(50% - (var(--line-size) / 2)), var(--line-color) calc(50% + (var(--line-size) / 2)), transparent calc(50% + (var(--line-size) / 2))), linear-gradient(45deg, transparent calc(50% - (var(--line-size) / 2)), var(--line-color) calc(50% - (var(--line-size) / 2)), var(--line-color) calc(50% + (var(--line-size) / 2)), transparent calc(50% + (var(--line-size) / 2)));	
}
*{
	padding:0;
	margin:0;
}
/*html{
	filter: invert(1) hue-rotate(180deg);
	background: #fff;
}*/
html, body, #wrapper {
	height: 100%;
	font-family: "Cabin", sans-serif;
	/*background: #0C0F16;
	color: #fff;*/
	font-size: 16px;
} 

body > #wrapper {
	height: auto; min-height: 100%; background:#fff ;
}
#main{
	width:100%;
	padding:0;
	margin:0 auto;
	padding-top: var(--header-height);
}

table{
	width: 100%;
}
table, th, td {
    border: 1px solid #e1e1e1;
    border-collapse: collapse;    
}
th, td {
    padding: 10px;
    font-size: 16px;
    line-height: 1.6em;
    text-align: center;
    vertical-align: middle;
}
th {
    color: #444;
}

table .red_filled_btn{
	padding: 5px 20px;
	letter-spacing: unset;
	text-transform: none;
}

a{
	cursor: pointer;
	display: inline-block;
}

span{
	display: inline-block;
}

p{
	font-size: 16px;
	line-height: 1.8em;
	color: #444;
	padding: 0 0 15px 0;
}
video{
	max-width: 100%;
}

/* #Grid system
================================================== */
.contain_90{
	width: 90%;
	margin:0 auto;
}
.container{
	width:1170px;
	margin:0 auto;
}
.container:before, .container:after, .row:before, .row:after{
	content:"";
	display:table;
	}
.container:after, .row:after{clear:both;}
.row{
	margin-left:-10px;
	margin-right:-10px;
	}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12{
	position:relative;
	min-height:1px;
	padding-left:10px;
	padding-right:10px;
	float:left;
	}

.col-sm-12{width:100%;}
.col-sm-11{width:91.66666667%;}
.col-sm-10{width:83.33333333%;}
.col-sm-9{width:75%;}
.col-sm-8{width:66.66666667%;}
.col-sm-7{width:58.33333333%;}
.col-sm-6{width:50%;}
.col-sm-5{width:41.66666667%;}
.col-sm-4{width:33.33333333%;}
.col-sm-3{width:25%;}
.col-sm-2{width:16.66666667%;}
.col-sm-1{width:8.33333333%;}
.flt-right { float: right; }
.flt-left { float: left; }

.clr{
	clear:both;
}

/* =Header
-------------------------------------------------------------- */
header {
	width: 100%;
	position: fixed;
	top:0px;
	left: 0;
	z-index: 999;
	padding: 0%;
	background:#fff;
	/*box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);*/
	-webkit-transition: height 0.3s;
	-moz-transition: height 0.3s;
	-ms-transition: height 0.3s;
	-o-transition: height 0.3s;
	transition: height 0.3s;
}
header .upper_sec .inner_container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
header .logo {
	width: 170px;
	float: left;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	padding: 0;
}
header nav {
	display: inline-block;
	padding: 0% 0% 0% 0%;
}
header.smaller {
	top:0;
	background-color: transparent;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	background: #fff;
	padding: 0%;
}
header.smaller .logo {
	width: 80px;
	margin: 0 90px 0 0;
}
header.smaller .upper_sec{
	padding: 5px 0;
}
header.smaller nav {
	display: inline-block;
	float: left;
	/*padding:0% 0% 0% 7%;
	margin-top: 1.5%;*/
}
header .upper_sec .search_wrapper .clear_search{
	--size: 15px;
    width: var(--size);
    height: var(--size);
    border: none;
    outline: none;
    --line-color: #4d4d4d;
    position: absolute;
    right: 55px;
}
header.smaller .upper_sec .search_wrapper .input_box input{
	font-size: 14px;
	padding: 5px 10px;
}
header.smaller .upper_sec .search_wrapper .icon_box{
	font-size: 14px;
    padding: 7px 15px 7px 10px;
}
header.smaller .upper_sec .my_account_links .head{
	padding: 5px;
}
#category_menu{
	width: 270px;
}
#category_menu.ace-responsive-menu li{
	width: 100%;
	position: relative;
}
#category_menu.ace-responsive-menu li a{
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-right: 1px solid #0000001a;
}
#category_menu.ace-responsive-menu li a .ham_with_txt{
	display: flex;
    align-items: center;
}
#category_menu.ace-responsive-menu li a .arrow:before{
	font-size: 16px;
}
#category_menu.ace-responsive-menu li ul.sub-menu{
	width: 100%;
	margin: 0;
}
#category_menu.ace-responsive-menu > li > ul.sub-menu > li{
	border-bottom: 1px solid #0000001a;
}
#category_menu.ace-responsive-menu > li > ul.sub-menu > li ul.sub-menu{
	width: unset;
	left: 100%;
}
#category_menu.ace-responsive-menu > li > ul.sub-menu > li ul.sub-menu li{
	white-space: nowrap;
	padding: 0;
	border: none;
}
#category_menu.ace-responsive-menu > li > ul.sub-menu > li ul.sub-menu li a{
	white-space: nowrap;
	border: none;
	padding: 10px 20px;
}
.ace-responsive-menu > li > a{
	font-size: 15px;
	font-weight: 500;
	padding: 10px;
	transition: 0.3s;
	color: #333;
}
.ace-responsive-menu li:last-child a{
	/*padding-right: 0;*/
}
.ace-responsive-menu li.menu-active > a {
    /* background: #364655 !important; */
    color: var(--red);
}
.ace-responsive-menu li ul.sub-menu{
	box-shadow: 0 0 3px rgba(0,0,0,0.15);
}
.ace-responsive-menu li ul.sub-menu li{
	font-size: 14px;
	font-family: var(--lato);
	width: unset;
}
.ace-responsive-menu li ul.sub-menu li a{
	font-size: 14px;
	font-family: var(--lato);
	padding: 12px 15px;
}
.ace-responsive-menu > li > ul.sub-menu > li a:hover {
    color: var(--red);
}
.ace-responsive-menu > li > ul.sub-menu > li ul.sub-menu{
	left: 100%;
	min-width: 60%;
}
.ace-responsive-menu > li > ul.sub-menu > li ul.sub-menu li{
	/*width: unset;*/
}
.ace-responsive-menu > li > ul.sub-menu > li ul.sub-menu li a{
	white-space: nowrap;
}
.ace-responsive-menu > li > ul.sub-menu li > a > .arrow:before{
	margin-top: 0;
	margin-bottom: -4px;
	margin-left: 10px;
}

.heading{
	font-size: 28px;
	font-weight: 600;
	color: #242424;
	text-transform: none;
	position: relative;
	text-align: center;
	margin: 0 0 20px 0;
}
.heading.back_stroke::before{
	position: absolute;
	content: '';
	left: 0;
	top: 50%;
	width: 100%;
	height: 1px;
	background: #c4c4c4;
	z-index: 1;
}

.heading.back_stroke span{
	position: relative;
	background: #fff;
	z-index: 2;
	padding: 0 20px;
}
.heading.small{
	font-size: 60px;
}
.center{
	text-align: center;
}
.left{
	text-align: left;
}
.title{
	font-size: 25px;
	text-transform: uppercase;
	font-weight: 600;
	color: #000;
	padding: 0 0 20px 0;
}
.sub_title{
	font-size: 20px;
	font-weight: 600;
	color: #242424;
	padding: 0 0 20px 0;
}
.hollow_btn{
	font-size: 14px;
	color: #fff;
	font-weight: 500;
	padding: 12px 24px;
	margin: 15px 0 0 0;
	border-radius: 100px;
	border: 1px solid #fff;
	outline: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: all 0.3s;
}
.hollow_btn:hover{
	background: var(--red);
}
.red_filled_btn{
	font-size: 14px;
	color: #fff;
	/*background: var(--red);*/
	box-shadow: inset 0 0 10px 20px var(--red);
	font-weight: 500;
	padding: 12px 24px;
	border-radius: 100px;
	border: none;
	outline: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: all 0.3s;
}
.red_filled_btn:hover{
	box-shadow: inset 0 0 0 1px var(--red);
	color: var(--red);
	background: #fff;
}
.red_hollow_btn{
	font-size: 14px;
	color: var(--red);
	background: #fff;
	font-weight: 500;
	padding: 12px 24px;
	border-radius: 100px;
	/*border: 1px solid var(--red);*/
	box-shadow: inset 0 0 0 1px var(--red);
	outline: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: all 0.3s;
}
.red_hollow_btn:hover{
	box-shadow: inset 0 0 10px 20px var(--red);
	color: #fff;
}
.full_width{
	width: 100%;
}
.square{
	border-radius: 0;
}

.red{
	color: var(--red);
}

video{
	width: 100%;
}

.swiper-horizontal{
	overflow: hidden;
	position: relative;
}

.form_wrapper{
	margin: 0 -10px;
}
.form_wrapper form .input_box{
	padding: 0 0 20px;
}
.form_wrapper form .input_box label{
	padding: 0 0 10px 15px;
	display: inline-block;
	color: #242424;
}
.form_wrapper form .input_box input[type=text]{
	background: transparent;
	color: #000;
	width: 100%;
	height: 40px;
	padding: 10px 15px;
	border: 1px solid #0000001a;
	border-radius: 100px;
}
.form_wrapper form .input_box input[type=password]{
	background: transparent;
	color: #000;
	width: 100%;
	height: 40px;
	padding: 10px 15px;
	border: 1px solid #0000001a;
	border-radius: 100px;
}
.form_wrapper form .input_box select{
	background: transparent;
	color: #000;
	width: 100%;
	height: 40px;
	padding: 10px;
	border: 1px solid #0000001a;
	border-radius: 100px;
}
.form_wrapper form .input_box textarea{
	background: transparent;
	color: #000;
	width: 100%;
	height: 100px;
	padding: 10px;
	border: 1px solid #0000001a;
	border-radius: 10px;
}
.form_wrapper fieldset{
	padding: 30px 20px 20px;
}
.form_wrapper form .input_box .password_wrapper{
	position: relative;
}
.form_wrapper form .input_box .password_wrapper input{
	outline: none;
}
.form_wrapper form .input_box input[readonly]{
	background: #ddd;
	/*pointer-events: none;*/
	user-select: none;
	cursor: not-allowed;
	outline: none;
}
.form_wrapper form .input_box .password_wrapper button.eye{
	position: absolute;
	right: 0;
	top: 0;
	width: 45px;
	height: 40px;
	border: none;
	outline: none;
	background: #f0f0f0;
	font-size: 16px;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
	transition: all 0.3s;
	padding: 0 2px 0 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
.form_wrapper form .input_box .password_wrapper button.eye:hover{
	color: var(--red);
}
.form_wrapper form .input_box .password_wrapper button.eye .eye_open{
	display: none;
}
.form_wrapper form .input_box .password_wrapper button.eye .eye_closed{
	display: block;
}
.form_wrapper form .input_box .password_wrapper button.eye.show_password .eye_open{
	display: block;
}
.form_wrapper form .input_box .password_wrapper button.eye.show_password .eye_closed{
	display: none;
}
.form_wrapper .note{
	font-size: 12px;
	display: block;
	padding: 3px 0;
}
input[type="file"]{
  cursor: pointer;
  border: none;
  outline: none;
}
input[type="file"]::file-selector-button {
  background-color: var(--red);
  color: #fff;
  height: 36px;
  padding: 0 15px;
  vertical-align: middle;
  outline-color: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;
}
input[type="file"]::file-selector-button:hover{
	background: #ffffff;
	color: var(--red);
}
.form_wrapper form .submit_box{
	padding: 20px 0 0 0;
}

/*input[type="file"]::-ms-browse:hover {
  background-color: #81ecec;
  border: 2px solid #00cec9;
}

input[type="file"]::-webkit-file-upload-button:hover {
  background-color: #81ecec;
  border: 2px solid #00cec9;
}

input[type="file"]::file-selector-button:hover {
  background-color: #81ecec;
  border: 2px solid #00cec9;
}*/

header .upper_sec{
	border-bottom: 1px solid #0000001a;
	padding: 15px 0;
}
header .upper_sec .search_wrapper{
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #ddd;
	border-radius: 50px;
	position: relative;
}
header .upper_sec .search_wrapper .input_box input{
	font-size: 16px;
	padding: 10px 20px;
	border-radius: 50px;
	outline: none;
	border: none;
	width: 550px;
}
header .upper_sec .search_wrapper .icon_box{
	font-size: 20px;
	padding: 10px 15px 10px 10px;
	color: #fff;
	background: var(--red);
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
	border: none;
	outline: none;
}
header .upper_sec .my_account_links{
	position: relative;
}
header .upper_sec .my_account_links .head{
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 600;
	color: #444;
	font-family: var(--lato);
	padding: 10px;
	cursor: pointer;
}
header .upper_sec .my_account_links ul{
	position: absolute;
	right: 0;
	top: 100%;
	background: #fff;
	box-shadow: 0 0 3px rgba(0,0,0,0.15);
	padding: 10px 0;

	display: none;
}
header .upper_sec .my_account_links ul li{
	padding: 0;
}
header .upper_sec .my_account_links ul li a{
	white-space: nowrap;
	padding: 10px 15px;
	width: 100%;
	font-size: 14px;
	transition: all 0.3s;
}
header .upper_sec .my_account_links ul li a:hover{
	color: var(--red);
}
header .upper_sec .menu_cart_wrapper{
	display: inline-flex;
	align-items: center;
	border: none;
	outline: none;
	background: unset;
}
header .upper_sec .menu_cart_wrapper .icon_box{
	font-size: 20px;
	color: #444;
}
header .upper_sec .menu_cart_wrapper .cart_count_wrapper{
	display: inline-flex;
	align-items: center;
	padding: 0 0 0 10px;
	color: #000;
}
header .upper_sec .menu_cart_wrapper .cart_count_wrapper .cart_count{
	font-family: var(--lato);
	line-height: 1em;
}
header .upper_sec .menu_cart_wrapper .cart_count_wrapper .text{
	padding: 0 0 0 5px;
}
header .lower_sec{	
	border-bottom: 1px solid #0000001a;
}

.hero .main_hero_slider .swiper-slide a{
	background-image: linear-gradient(215deg, #000000 0%, var(--red) 100%);
	height: 550px;
	max-height: calc(100vh - var(--header-height));
	display: flex;
	align-items: center;
	/*justify-content: center;*/
}
.hero .main_hero_slider .swiper-slide a .category_title{
	font-size: 50px;
	font-weight: 700;
	color: #fff;
	width: 40%;
	text-align: right;
	padding: 0 0 0 15px;
}
.hero .main_hero_slider .swiper-slide a .image_wrapper{
	/*display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 35%;
	max-height: 100%;*/

	/*width: 35%;
    max-height: 100%;
    columns: 2;
    display: grid;
    align-content: center;
    grid: auto / auto auto;
    grid-template-rows: 50%;*/

    max-width: 550px;
    max-height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.hero .main_hero_slider .swiper-slide a .img_box{
	/*width: 50%;*/
	text-align: center;
    max-width: 275px;
    max-height: 275px;
}
.hero .main_hero_slider .swiper-slide a .img_box img{
	width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

/*our_brands*/
.our_brands{
	overflow: hidden;
}
.our_brands .inner_container{
	padding: 50px 15px;
}
.our_brands .inner_container .our_brands_slider{
	overflow: unset;
}
.our_brands .inner_container .our_brands_slider .item_box{
	padding: 0 15px;
}
.our_brands .inner_container .our_brands_slider .item_box a{
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	padding: 15px;
	/*overflow: hidden;*/
}
.featured_categories .inner_container{
	padding: 50px 15px 100px 15px;
	overflow: hidden;
}
.featured_categories .inner_container .featured_categories_slider{
	padding: 30px 0 0 0;
	overflow: unset;
}
.featured_categories .inner_container .featured_categories_slider .item_box{
	padding: 0 10px;
	text-align: center;
}
.featured_categories .inner_container .featured_categories_slider .item_box a span{
	font-size: 16px;
	font-weight: 600;
	text-align: center;
	padding: 10px 0 0 0;
}
.featured_categories .inner_container .featured_categories_slider .item_box a span.img_box{
	padding: 0;
	overflow: hidden;
}
.featured_categories .inner_container .featured_categories_slider .item_box a span.img_box img{
	transition: all 0.3s;
}
.featured_categories .inner_container .featured_categories_slider .item_box a:hover span.img_box img{
	transform: scale(1.1);
}
.featured_categories .inner_container .featured_categories_slider .swiper-pagination{
	bottom: -30px;
}

/*featured_products*/
.products_wrapper{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0 0 70px 0;
}
.products_wrapper .product_box{
	width: calc(20% - 20px);
	padding: 15px;
	margin: 12px 0;
	background: #F3F3F3;
	box-shadow: 0 0 4px rgba(0,0,0,0.12);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: relative;
}
.featured_products .products_wrapper .product_box{
	align-items: center;
	justify-content: center;
}
.products_wrapper .product_box .img_box{
	display: block;
	margin: auto;
}
.products_wrapper .product_box .product_title{
	font-size: 16px;
	font-weight: 600;
	color: #333;
	transition: all 0.3s;
}
.products_wrapper .product_box .product_title:hover{
	color: var(--red);
}
.products_wrapper .product_box .category_title{
	font-size: 14px;
	color: #a5a5a5;
	margin: 10px 0;
	transition: all 0.3s;
}
.products_wrapper .product_box .category_title:hover{
	color: #333;
}
.products_wrapper .product_box .add_to_cart{
	font-size: 13px;
	color: #242424;
	position: relative;
	transition: all 0.3s;
}
.products_wrapper .product_box .add_to_cart:hover{
	color: var(--red);
}
.products_wrapper .product_box .add_to_cart::before{
	position: absolute;
	content: '';
	left: 0;
	width: 100%;
	bottom: -2px;
	height: 1px;
	background: #444;
	transition: all 0.3s;
}
.products_wrapper .product_box .add_to_cart:hover::before{
	left: 50%;
	width: 0;
}
.products_wrapper .product_box .quick_view{
	font-size: 16px;
	background: #ffffff;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 10px;
	right: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
	border: none;
	outline: none;
}
.products_wrapper .product_box .quick_view::before{
	position: absolute;
	content: 'Quick View';
	right: calc(100% + 10px);
	top: calc(50% - 16px);
	padding: 8px 20px;
	height: 32px;
	background: #000;
	white-space: nowrap;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-size: 12px;
	border-radius: 5px;
	opacity: 0;
	user-select: none;
	transition: all 0.3s;
}
.products_wrapper .product_box .quick_view::after{
	position: absolute;
	content: '';
	right: calc(100% + 5px);
	border-left: 5px solid #000;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	opacity: 0;
	user-select: none;
	transition: all 0.3s;
}
.products_wrapper .product_box .quick_view:hover::before{
	opacity: 1;
}
.products_wrapper .product_box .quick_view:hover::after{
	opacity: 1;
}
.products_wrapper .product_box .add_to_cart_inputs{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.products_list_page .products_wrapper .product_box .add_to_cart_inputs{
	flex-direction: row;
	justify-content: flex-start;
}
.products_wrapper .product_box .add_to_cart_inputs .number_input{
	font-size: 14px;
	margin: 0 0 10px;
}
.products_wrapper .product_box .add_to_cart_inputs .number_input button{
	height: 24px;
}
.products_wrapper .product_box .add_to_cart_inputs .number_input input{
	height: 24px;
}
.products_wrapper .product_box .add_to_cart_inputs .add_to_cart{
	padding: 8px 20px;
	letter-spacing: unset;
	color: #fff;
}
.products_wrapper .product_box .add_to_cart_inputs .add_to_cart:hover{
	box-shadow: inset 0 0 0 1px var(--red);
	color: var(--red);
}
.products_wrapper .product_box .add_to_cart_inputs .add_to_cart::before{
	display: none;
}
.products_wrapper .product_box .add_to_cart_inputs .add_to_cart.spinners::before{
	position: absolute;
    left: 0;
    top: 0;
    content: '';
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--red);
    color: #fff;
    z-index: 10;
    border-radius: inherit;
    /*display: none;*/
}

/*footer*/
footer{
	background: #000;
	color: #fff;
}
footer .upper_sec{
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
footer .upper_sec .inner_container{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	padding: 35px 0;
}
footer .upper_sec .icon_box{
	text-align: center;
}
footer .upper_sec .icon_box .icon img{
	filter: brightness(0) saturate(100%) invert(16%) sepia(92%) saturate(3856%) hue-rotate(349deg) brightness(94%) contrast(96%);
}
footer .upper_sec .icon_box .text{
	font-weight: 600;
	padding: 10px 0 0 0;
}
footer .middle_sec{
	padding: 35px 0 25px 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
footer .middle_sec .logo{
	text-align: center;
	padding: 0 0 20px 0;
}
footer .middle_sec .text_box p{
	text-align: center;
	font-size: 17px;
}
footer .lower_sec p{
	text-align: center;
	padding: 15px 0;
	font-size: 14px;
	color: #ddd;
}

/*industries_page*/
.industries_page .section_one{
	padding: 20px 0 20px 0;
}
.industries_page .section_one .text_box{
	padding: 30px 0 15px;
}
.industries_page .section_two{
	padding: 0 0 70px;
}
.industries_page .section_two .industries_slider{
	padding: 0 0 40px 0;
}
.industries_page .section_two .industries_slider .swiper-wrapper{
	align-items: flex-end;
}
.industries_page .section_two .industries_slider .item_box{
	text-align: center;
}
.industries_page .section_two .industries_slider .item_box .img_box{
	width: 60%;
	margin: auto;
}
.industries_page .section_two .industries_slider .item_box .img_box img{
	width: 100%;
}
.industries_page .section_two .industries_slider .item_box .category_title{
	font-size: 14px;
	color: #a4a4a4;
	padding: 10px 0 0 0;
}
.industries_page .section_two .industries_slider .item_box .sub_category_title{
	font-size: 18px;
	color: #242424;
	padding: 10px 0;
}
.industries_page .section_two .industries_slider .item_box .red_filled_btn{
	font-size: 13px;
    letter-spacing: 0.5px;
}
.swiper-button-next, .swiper-button-prev{
	color: var(--red);
}
.swiper-button-next:after, .swiper-button-prev:after{
	font-size: 20px;
	font-weight: 700;
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
	top: unset;
	bottom: 0;
}
.swiper-pagination-bullet-active{
	background: var(--red);
}

/*operation_manual_page*/
.operation_manual_page{
	padding: 20px 0;
}
.operation_manual_page .text_box{
	padding: 0 0 50px;
}
.operation_manual_page .pdf_boxes{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -20px;
}
.operation_manual_page .pdf_boxes .pdf_box{
	width: 33.33%;
	padding: 0 20px 50px 20px;
	text-align: center;
}
.operation_manual_page .pdf_boxes .pdf_box .pdf_title{
	font-size: 16px;
	color: #242424;
	font-weight: 600;
	padding: 10px 0;
}
.operation_manual_page .pdf_boxes .pdf_box .red_filled_btn{
	text-transform: none;
	letter-spacing: unset;
}

/*safety_standards_page*/
.safety_standards_page{
	padding: 20px 0;
}
.safety_standards_page .text_box{
	padding: 0 0 20px;
}
.safety_standards_page .info_boxes{
	display: flex;
	flex-wrap: wrap;
	position: relative;
}
.safety_standards_page .info_boxes .middle_line{
	position: absolute;
	content: '';
	top: 0;
	height: 100%;
	left: calc(50% - 1px);
	border-left: 2px dashed #000;
}
.safety_standards_page .info_boxes .middle_line::before{
	--size: 8px;
	position: absolute;
	content: '';
	left: -5px;
	top: 0;
	width: var(--size);
	height: var(--size);
	border-radius: 50%;
	background: #000;
}
.safety_standards_page .info_boxes .middle_line::after{
	--size: 8px;
	position: absolute;
	content: '';
	left: -5px;
	bottom: 0;
	width: var(--size);
	height: var(--size);
	border-radius: 50%;
	background: #000;
}
.safety_standards_page .info_boxes .info_box{
	width: 50%;
	padding: 30px;
}
.safety_standards_page .info_boxes .info_box:nth-child(odd){
	text-align: right;
}
.safety_standards_page .info_boxes .info_box .inner_box{
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.13);
	padding: 30px;
	position: relative;
}
.safety_standards_page .info_boxes .info_box .inner_box::before{
	position: absolute;
	content: '';
    top: calc(50% - 5px);
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    background-color: currentColor;
    color: #fff;

    left: calc(100% - 5px);

    box-shadow: 2px -2px 3px -2px rgba(0, 0, 0, 0.2);
}
.safety_standards_page .info_boxes .info_box:nth-child(even) .inner_box::before{
	left: unset;
	right: calc(100% - 5px);
	box-shadow: -2px 2px 3px -2px rgba(0, 0, 0, 0.2);
}
.safety_standards_page .info_boxes .info_box:nth-child(even) .inner_box::after{
	position: absolute;
    content: '';
    top: calc(50% - 6px);
    left: -36px;
    width: 12px;
    height: 12px;
    border: solid 2px #ffffff;
    border-radius: 50%;
    background: #ff0000;
}
.safety_standards_page .info_boxes .info_box .inner_box .title{
	font-size: 18px;
	text-transform: unset;
	padding: 15px 0;
}
.safety_standards_page .info_boxes .info_box .inner_box .text p{
	font-size: 14px;
	color: #666;
}
.safety_standards_page .info_boxes .info_box .inner_box .text p:last-child{
	padding: 0;
}

.nabl_testing_lab_page .section_one{
	padding: 20px 0;
}
.nabl_testing_lab_page .section_one .img_box{
	padding: 0 0 20px;
}
.nabl_testing_lab_page .section_two .inner_container{
	display: flex;
	flex-wrap: wrap;
	padding: 20px 0 50px 0;
}
.nabl_testing_lab_page .section_two .inner_container .info_box{
	width: 50%;
	text-align: center;
}
.nabl_testing_lab_page .section_two .inner_container .info_box .sub_title{
	font-size: 20px;
	font-weight: 600;
	color: #242424;
	padding: 0 0 15px;
}
.nabl_testing_lab_page .section_two .inner_container .info_box ul{
	list-style: none;
}
.nabl_testing_lab_page .section_two .inner_container .info_box ul li{
	list-style: none;
	padding: 0 0 15px;
}
.nabl_testing_lab_page .section_two .inner_container .info_box ul li .sub_head{
	font-size: 16px;
	color: #000;
	font-weight: 600;
	padding: 0 0 5px;
}
.nabl_testing_lab_page .section_two .inner_container .info_box ul li .text{
	font-size: 14px;
	color: #777;
}

/*brochure_page*/
.brochure_page .section_one{
	padding: 20px 0 80px;
}
.brochure_page .section_one .brochure_wrapper{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -20px;
	padding: 20px 0 0;
}
.brochure_page .section_one .brochure_wrapper .brochure_box{
	width: 33.33%;
	padding: 0 20px;
	text-align: center;
}
.brochure_page .section_one .brochure_wrapper .brochure_box .img_box{
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.13);
}
.brochure_page .section_one .brochure_wrapper .brochure_box .img_box img{
	width: 100%;
}
.brochure_page .section_one .brochure_wrapper .brochure_box .brochure_title{
	color: #242424;
	font-size: 18px;
	font-weight: 600;
	padding: 10px 0;
}
.brochure_page .section_one .brochure_wrapper .brochure_box .red_filled_btn{
	text-transform: none;
	letter-spacing: unset;
}

/*cross_reference_page*/
.cross_reference_page .inner_container{
	padding: 20px 0 80px;
	min-height: calc(100vh - var(--header-height) - 451px);
}
.cross_reference_page .competitor_search_wrapper{
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #ddd;
	border-radius: 50px;
	margin: 50px 0 0;
}
.cross_reference_page .competitor_search_wrapper .input_box{
	width: calc(100% - 45px);
}
.cross_reference_page .competitor_search_wrapper .input_box input{
	font-size: 16px;
	padding: 10px 20px;
	border-radius: 50px;
	outline: none;
	border: none;
	width: 100%;
}
.cross_reference_page .competitor_search_wrapper .icon_box{
	font-size: 20px;
	padding: 10px 15px 10px 10px;
	color: #fff;
	background: var(--red);
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
	border: none;
	outline: none;
}
.cross_reference_page .note{
	padding: 15px 0 0;
}

/*my_account_page*/
.my_account_page{
	padding: 20px 0;
}
.my_account_page .info_wrapper{
	display: flex;
	flex-wrap: wrap;
}
.my_account_page .info_wrapper .left_pane{
	width: 25%;
	border-right: 1px solid #0000001b;
	padding: 10px 30px;
}
.my_account_page .info_wrapper .left_pane .title{
	font-size: 18px;
	padding: 0 0 10px;
}
.my_account_page .info_wrapper .left_pane .account_links .title{
	border-bottom: 1px solid #0000001b;
}
.my_account_page .info_wrapper .left_pane .account_links ul li a{
	color: #242424;
	padding: 10px 15px;
	font-size: 14px;
	display: block;
	font-weight: 500;
}
.my_account_page .info_wrapper .left_pane .account_links ul li a:hover{
	background: #0000000f;
}
.my_account_page .info_wrapper .left_pane .account_links ul li.active a{
	background: var(--red);
	color: #fff;
}
.my_account_page .info_wrapper .left_pane .you_may_like{
	padding: 30px 0;
}
.my_account_page .info_wrapper .left_pane .you_may_like ul li{
	border-bottom: 1px solid #0000001b;
}
.my_account_page .info_wrapper .left_pane .you_may_like ul li a{
	display: flex;
	align-items: center;
}
.my_account_page .info_wrapper .left_pane .you_may_like ul li a .img_box{
	width: 30%;
}
.my_account_page .info_wrapper .left_pane .you_may_like ul li a .text{
	width: 70%;
	color: #333;
	font-weight: 500;
	font-size: 14px;
	padding: 0 0 0 10px;
}
.my_account_page .info_wrapper .right_pane{
	width: 75%;
	padding: 10px 30px;
}
.my_account_page .info_wrapper .right_pane .text_box .imp_txt{
	background: #f7f7f7;
	color: #242424;
	padding: 5px;
}
.my_account_page .info_wrapper .right_pane .nav_links{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -10px;
}
.my_account_page .info_wrapper .right_pane .nav_links .link_box{
	width: 25%;
	padding: 10px;
}
.my_account_page .info_wrapper .right_pane .nav_links .link_box a{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	box-shadow: 0 0 4px #0000002e;
	padding: 20px;
	transition: all 0.3s;
}
.my_account_page .info_wrapper .right_pane .nav_links .link_box a:hover{
	background: #00000008;
}
.my_account_page .info_wrapper .right_pane .nav_links .link_box a .icon_box{
	width: 50%;
	margin: auto;
	max-width: 50px;
}
.my_account_page .info_wrapper .right_pane .nav_links .link_box a .link_title{
	font-weight: 500;
	padding: 10px 0 0 0;
}
.my_account_page .info_wrapper .right_pane .order_details_wrapper{
	padding: 30px 0 0;
}
.my_account_page .info_wrapper .right_pane .order_details_wrapper table.order_details th{
	background: var(--red);
	text-align: left;
	color: #fff;
	font-size: 20px;
}
.my_account_page .info_wrapper .right_pane .order_details_wrapper table.order_details td{
	text-align: left;
}
.my_account_page .info_wrapper .right_pane .order_details_wrapper table.order_details td .product_title{
	font-weight: 700;
}
.my_account_page .info_wrapper .right_pane .order_details_wrapper table.order_details td .product_description{
	font-size: 13px;
}
.my_account_page .info_wrapper .right_pane .order_details_wrapper .billing_address{
	padding: 40px 0 0;
}
.my_account_page .info_wrapper .right_pane .billing_address .title{
	padding: 0 0 10px;
}
.my_account_page .info_wrapper .right_pane .billing_address .address div{
	padding: 0 0 5px;
}

/*products_list_page*/
.products_list_page .heading{
	padding: 30px 0;
	background: linear-gradient(45deg, #ff01000d, #0000001a, #ff01000d);
    color: #000;
}
.products_list_page .products_wrapper .inner_container{
	display: flex;
	flex-wrap: wrap;
}
.products_list_page .products_wrapper .inner_container .left_pane{
	width: 25%;
	padding: 0 20px 0 0;
}
.products_list_page .products_wrapper .left_pane .filters_wrapper #accordion{
	border-bottom: 1px solid #0000001b;
}
.products_list_page .products_wrapper .left_pane .filters_wrapper #accordion h3{
	font-size: 16px;
	text-transform: uppercase;
	color: #333;
	padding: 15px 0;
	border-top: 1px solid #0000001b;
	cursor: pointer;
}
.products_list_page .products_wrapper .left_pane .filters_wrapper #accordion div{
	/*padding: 0px 0 20px 0;*/
	margin: 0 0 20px 0;
	max-height: 108px;
	overflow: auto;
}
.products_list_page .products_wrapper .left_pane .filters_wrapper #accordion div ul li label{
	display: flex;
	align-items: center;
	cursor: pointer;
	color: #767676;
	padding: 5px 0;
	margin: 0 0 5px;
}
.products_list_page .products_wrapper .left_pane .filters_wrapper #accordion div ul li label span.text{
	padding: 0 0 0 10px;
	font-size: 14px;
}
.products_list_page .products_wrapper .left_pane .filters_wrapper #accordion div ul li label span.count{
	margin: 0 0 0 auto;
	padding: 2px 5px;
	font-size: 12px;
	border: 1px solid #0000001b;
	border-radius: 5px;
}
.products_list_page .products_wrapper .inner_container .right_pane{
	width: 75%;
}
.products_list_page .products_wrapper .inner_container .right_pane .selected_filters_wrapper{
	padding: 0 0 15px;
}
.products_list_page .products_wrapper .inner_container .right_pane .selected_filters_wrapper .selected_filters .clear_filters{
	display: inline-flex;
	align-items: center;
	padding: 5px 10px;
	margin: 0 0 10px 10px;
	border-radius: 5px;
	border: none;
	/*color: #fff;*/
	font-size: 14px;
}
.products_list_page .products_wrapper .inner_container .right_pane .selected_filters_wrapper .selected_filters .clear_filters .txt{
	padding: 0 0 0 5px;
	color: #000;
}
.products_list_page .products_wrapper .inner_container .right_pane .selected_filters_wrapper .selected_filters .remove_filter{
	display: inline-flex;
	align-items: center;
	padding: 5px 10px;
	margin: 0 0 10px 10px;
	border-radius: 5px;
	border: none;
	background: #000;
	color: #fff;
	font-size: 14px;
}
.products_list_page .products_wrapper .inner_container .right_pane .selected_filters_wrapper .selected_filters .remove_filter .cross_icon{
	--line-color: #fff;
}
.products_list_page .products_wrapper .inner_container .right_pane .selected_filters_wrapper .selected_filters .remove_filter .filter_value{
	padding: 0 0 0 5px;
}
.products_list_page .products_wrapper .inner_container .right_pane .selected_filters_wrapper .selected_filters .cross_icon{
	--size: 10px;
	width: var(--size);
	height: var(--size);
}
.products_list_page .products_wrapper .inner_container .right_pane .list_heading{
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #efefef;
	padding: 0 10px 0 0;
}
.products_list_page .products_wrapper .inner_container .right_pane .list_heading .total_count_text{
	font-size: 14px;
	color: #333;
}
.products_list_page .products_wrapper .inner_container .right_pane .products_list{
	padding: 30px 0 0 0;
}
.products_list_page .products_wrapper .inner_container .right_pane .products_list .product_box{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 0 0 30px 0;
	margin: 0 0 30px 0;
	border-bottom: 1px solid #0000001b;

	width: 100%;
    background: unset;
    box-shadow: none;
    flex-direction: unset;
}
.products_list_page .products_wrapper .inner_container .right_pane .products_list .product_box .img_box{
	width: 300px;
	height: 200px;
}
.products_list_page .products_wrapper .inner_container .right_pane .products_list .product_box .img_box img{
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: center;
}
.products_list_page .products_wrapper .inner_container .right_pane .products_list .product_box .text_box{
	width: calc(100% - 300px);
}
.products_list_page .products_wrapper .inner_container .right_pane .products_list .product_box .text_box .product_title{
	font-size: 20px;
	color: #333;
	font-weight: 500;
	padding: 0 0 10px;
}
.products_list_page .products_wrapper .inner_container .right_pane .products_list .product_box .text_box .sub_category_title{
	font-size: 14px;
	color: #a5a5a5;
	padding: 0 0 15px;
}
.products_list_page .products_wrapper .inner_container .right_pane .products_list .product_box .text_box .description{
	font-size: 14px;
	color: #777;
	padding: 0 0 15px;
}
.products_list_page .products_wrapper .inner_container .right_pane .products_list .product_box .text_box .number_input{
	font-size: 14px;
	margin: 0 5px 0 0;
}
.products_list_page .products_wrapper .inner_container .right_pane .products_list .product_box .text_box .number_input button{
	height: 32px;
}
.products_list_page .products_wrapper .inner_container .right_pane .products_list .product_box .text_box .number_input input{
	height: 32px;
}
.products_list_page .products_wrapper .inner_container .right_pane .products_list .product_box .text_box .red_filled_btn{
	letter-spacing: unset;
	padding: 8px 18px;
	color: #fff;
	border: 1px solid var(--red);
}
.products_list_page .products_wrapper .inner_container .right_pane .products_list .product_box .text_box .red_filled_btn::before{
	display: none;
}
.products_list_page .products_wrapper .inner_container .right_pane .products_list .product_box .text_box .red_filled_btn:hover{
	background: #ffffff;
	color: #000;
}

.breadcrumbs ul{
	display: flex;
	align-items: center;
}
.breadcrumbs ul li{
	padding: 10px 16px 10px 10px;
	position: relative;
}
.breadcrumbs ul li .txt{
	font-size: 14px;
	font-weight: 600;
}
.breadcrumbs ul li a.txt{
	color: #767676;
}
.breadcrumbs ul li span.txt{
	color: #333;
}
.breadcrumbs ul li::before{
	position: absolute;
	content: '/';
	right: 0;
	font-weight: 500;
}
.breadcrumbs ul li:last-child::before{
	display: none;
}

/*page_links*/
.pagination{
	padding: 0 0 20px;
}
.pagination li.page-item{
	display: inline-block;
	font-family: monospace;
}
.pagination li span{
	font-size: 14px;
	color: #242424;
}
.pagination li.page-item span{
	padding: 8px 11px;
}
.pagination li.page-item.active span{
	background: var(--red);
	color: #fff;
}
.pagination li a{
	font-size: 14px;
	color: #242424;
}
.pagination li.page-item a{
	padding: 8px 11px;
}
.pagination li.page-item a:hover{
	background: #f2f2f2;
}

/*product_detail_page*/
.product_detail_page{
	padding: 15px 0 0 0;
}
.product_detail_page .section_one{
	padding: 0 0 50px 0;
}
.product_detail_page .product_images{
	/*border: 1px solid #0000001b;*/
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.product_detail_page .product_images .easyzoom--with-thumbnails{
	width: calc(100% - 110px);
	margin: 0 auto;
	border: 1px solid #0000001b;
}
.product_detail_page .product_images ul.thumbnails li a{
	/*outline: 1px solid #0000001b;*/
}
.product_detail_page .product_images img.xzoom{
	width: 100%;
}
.product_detail_page .right_pane .heading_pane{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 0 20px 0;
}
.product_detail_page .right_pane .heading_pane .breadcrumbs ul li:first-child{
	padding-left: 0;
}
.product_detail_page .right_pane .heading_pane .other_nav{
	display: flex;
	align-items: center;
	position: relative;
}
.product_detail_page .right_pane .heading_pane .other_nav .adjacent_product .product_box{
	position: absolute;
	right: 0;
	top: 31px;
	box-shadow: 0 0 3px #00000026;
	background: #fff;
	/*padding: 10px;*/
	display: flex;
	align-items: center;
	width: 220px;
	z-index: 1;
	display: none;
}
.product_detail_page .right_pane .heading_pane .other_nav .adjacent_product:hover .product_box{
	display: flex;
}
.product_detail_page .right_pane .heading_pane .other_nav .adjacent_product .product_box .img_box{
	width: 90px;
}
.product_detail_page .right_pane .heading_pane .other_nav .adjacent_product .product_box .txt_box{
	width: calc(100% - 90px);
	font-size: 14px;
	padding: 0 0 0 10px;
}
.product_detail_page .right_pane .heading_pane .other_nav .arrow{
	font-size: 22px;
	padding: 5px;
}
.product_detail_page .right_pane .heading_pane .other_nav .shop_btn{
	font-size: 16px;
	padding: 5px;
}
.product_info .heading{
	font-family: "Poppins", sans-serif;
}
.product_info .description{
	color: #777777;
	font-size: 14px;
	line-height: 1.6em;
	font-weight: 600;
	padding: 0 0 20px;
	font-family: var(--lato);
}
.product_info .features .sub_title{
	/*font-size: 20px;*/
}
.product_info .features .features_list_wrapper{
	padding: 0 0 20px;
}
.product_info .features .features_list_wrapper ul li{
	list-style: disc;
	font-size: 14px;
	padding: 0 0 5px;
	list-style-position: inside;
}
.product_info .add_to_cart_inputs{
	display: flex;
	align-items: center;
	padding: 0 0 25px;
}
.number_input{
	display: inline-flex;
	align-items: center;
	font-size: 15px;
	overflow: hidden;
	border-radius: 100px;
	border: 1px solid #ddd;
	margin: 0 15px 0 0;
}
.number_input button{
	width: 45px;
	height: 40px;
	padding: 0 0 0 5px;
	font-size: 20px;
	line-height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	outline: none;
	transition: all 0.3s;
}
.number_input button:nth-child(3){
	padding: 0 5px 0 0;
}
.number_input button:hover{
	background: var(--red);
	color: #fff;
}
.number_input input{
	height: 40px;
	width: 50px;
	text-align: center;
	border: none;
	outline: none;
}
/* Hide arrows in Chrome, Safari, Edge */
.number_input input::-webkit-outer-spin-button,
.number_input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.product_info .add_to_cart_inputs .add_to_cart{
	letter-spacing: unset;
	padding: 11px 24px;
}
.product_info .other_btns{
	display: flex;
	align-items: center;
}
.product_info .other_btns a{
	margin: 0 10px 0 0;
}
.product_info .other_btns a:last-child{
	margin: 0;
}

/*tabs*/
.tabs #tabs-nav{
	display: flex;
	flex-wrap: wrap;
}
.tabs #tabs-nav li a{
	padding: 15px 15px;
    transition: all 0.3s;
    color: #333;
    /*border: 1px solid #0000001b;*/
    background: #f9f9f9;
}
.tabs #tabs-nav li a:hover{
	background: #ddd;
	color: #000;
}
.tabs #tabs-nav li.active a{
	background: var(--red);
	color: #fff;
}
.tabs #tabs-content .tab-content table tr td{
	color: #777;
	font-size: 14px;
	text-align: left;
}
.tabs #tabs-content .tab-content table tr:nth-child(even){
	background-color: #f2f2f2;
}

.product_detail_page .tabs #tabs-content .tab-content table tr td:nth-child(1){
	width: 40%;
}

/*related_products*/
.related_products{
	padding: 50px 0;
}
.related_products .products_wrapper{
	padding: 0 0 40px 0;
}
.related_products .products_wrapper .product_box{
	width: 100%;
	text-align: center;
	align-items: center;
	background: transparent;
	margin: 0;
	box-shadow: none;
	border: 1px solid #0000001b;
}
.related_products .products_wrapper .product_box .img_box{
	padding: 100% 0 0 0;
	width: 100%;
	position: relative;
}
.related_products .products_wrapper .product_box .img_box img{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: center;
}

.form_error{
	color: var(--red);
	font-size: 13px;
	/*line-height: 2em;*/
	font-weight: 500;
	display: block;
}
.form_error.all_errors{
	font-size: 12px;
}
.alert-danger{
	padding: 0 0 10px;
	display: block;
}
.alert-success{
	color: green;
	font-size: 14px;
	font-weight: 500;
	display: block;
	padding: 0 0 10px;
}

.easyzoom-flyout img{
	max-width: unset;
}

/*quick_view_wrapper*/
.quick_view_wrapper{
	background: #00000080;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 999;

	display: flex;
	align-items: center;
	justify-content: center;

	display: none;
}
.quick_view_wrapper .inner_box{
	width: 900px;
	max-width: 90%;
	background: #fff;
	padding: 15px;
	position: relative;
}
.quick_view_wrapper .inner_box .close{
	--size: 15px;
	width: var(--size);
	height: var(--size);
	position: absolute;
	top: 10px;
	right: 10px;
	background: linear-gradient(45deg, transparent calc(50% - 1px), #000 calc(50% - 1px) calc(50% + 1px), transparent calc(50% + 1px) 100%),linear-gradient(-45deg, transparent calc(50% - 1px), #000 calc(50% - 1px) calc(50% + 1px), transparent calc(50% + 1px) 100%);
	cursor: pointer;
}
.quick_view_wrapper .inner_box .quick_view_box{
	--slider-width: 50%;
	display: flex;
	align-items: center;
}
.quick_view_wrapper .inner_box .quick_view_box .left_pane{
	width: var(--slider-width);
	position: relative;
	overflow: hidden;
}
.quick_view_wrapper .inner_box .quick_view_box .left_pane a.view_details{
	position: absolute;
	left: 0;
	bottom: 0;
	text-align: center;
	z-index: 1;
	transition: all 0.3s;
	transform: translateY(42px);
}
.quick_view_wrapper .inner_box .quick_view_box .left_pane:hover a.view_details{
	transform: translateY(0px);
}
.quick_view_wrapper .inner_box .quick_view_box .right_pane{
	width: calc(100% - var(--slider-width));
}
/*product_images_slider*/
.product_images_slider .img_box{
	position: relative;
	padding: 100% 0 0 0;
}
.product_images_slider .img_box img{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: contain;
}

/*cart_wrapper*/
.cart_wrapper{
	background: #00000080;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 999;

	display: none;
}
.cart_wrapper.show_cart{
	display: block;
}
.cart_wrapper .inner_box{
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: flex-end;
}
.cart_wrapper .inner_box .cart_box{
	width: 350px;
	background: #fff;
	/*padding: 15px;*/
	position: relative;
	transform: translateX(100%);
}
.cart_wrapper.show_cart .inner_box .cart_box{
	transform: translateX(0%);
}
.cart_wrapper .inner_box .cart_box .head_wrapper{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 15px;
	border-bottom: 1px solid #0000001a;
}
.cart_wrapper .inner_box .cart_box .head_wrapper .title{
	padding: 0;
	text-transform: none;
}
.cart_wrapper .inner_box .cart_box .close{
	--size: 18px;
	width: var(--size);
	height: var(--size);
	/*position: absolute;
	top: 10px;
	right: 10px;*/
	background: linear-gradient(45deg, transparent calc(50% - 1px), #000 calc(50% - 1px) calc(50% + 1px), transparent calc(50% + 1px) 100%),linear-gradient(-45deg, transparent calc(50% - 1px), #000 calc(50% - 1px) calc(50% + 1px), transparent calc(50% + 1px) 100%);
	cursor: pointer;
}
.cart_wrapper .inner_box .cart_box .close:hover{	
	background: linear-gradient(45deg, transparent calc(50% - 1px), var(--red) calc(50% - 1px) calc(50% + 1px), transparent calc(50% + 1px) 100%),linear-gradient(-45deg, transparent calc(50% - 1px), var(--red) calc(50% - 1px) calc(50% + 1px), transparent calc(50% + 1px) 100%);
}
.cart_wrapper .inner_box .cart_box .products_wrapper{
	padding: 0;
	height: calc(100vh - 71px - 126px);
	overflow: auto;
	flex-wrap: nowrap;
	flex-direction: column;
	align-items: flex-start;
    justify-content: unset;
}
.cart_wrapper .inner_box .cart_box .products_wrapper .product_box{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	margin: 0;
}
.cart_wrapper .inner_box .cart_box .products_wrapper .product_box a{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	position: relative;
}
.cart_wrapper .inner_box .cart_box .products_wrapper .product_box .remove_product{
	--size: 13px;
	width: var(--size);
	height: var(--size);
	position: absolute;
	top: 10px;
	right: 10px;
	background: linear-gradient(45deg, transparent calc(50% - 1px), #000 calc(50% - 1px) calc(50% + 1px), transparent calc(50% + 1px) 100%),linear-gradient(-45deg, transparent calc(50% - 1px), #000 calc(50% - 1px) calc(50% + 1px), transparent calc(50% + 1px) 100%);
	cursor: pointer;
	border: none;
	outline: none;
	transition: all 0.3s;
}
.cart_wrapper .inner_box .cart_box .products_wrapper .product_box .remove_product:hover{
	background: linear-gradient(45deg, transparent calc(50% - 1px), var(--red) calc(50% - 1px) calc(50% + 1px), transparent calc(50% + 1px) 100%),linear-gradient(-45deg, transparent calc(50% - 1px), var(--red) calc(50% - 1px) calc(50% + 1px), transparent calc(50% + 1px) 100%);
}
.cart_wrapper .inner_box .cart_box .products_wrapper .product_box .img_box{
	width: 80px;
	margin: 0;
	padding: 0 10px 0 0;
}
.cart_wrapper .inner_box .cart_box .products_wrapper .product_box .text_box{
	width: calc(100% - 80px);
}
.cart_wrapper .inner_box .cart_box .products_wrapper .product_box .text_box .product_title{
	font-size: 14px;
}
.cart_wrapper .inner_box .cart_box .products_wrapper .product_box a:hover .text_box .product_title{
	color: var(--red);
}
.cart_wrapper .inner_box .cart_box .products_wrapper .product_box .text_box .product_description{
	font-size: 13px;
}
.cart_wrapper .inner_box .cart_box .products_wrapper .product_box .text_box .product_count{
	display: flex;
	font-size: 12px;
	color: #bbb;
}
.cart_wrapper .inner_box .cart_box .c2a_btns{
	padding: 15px;
}
.cart_wrapper .inner_box .cart_box .c2a_btns a{
	text-align: center;
}
.cart_wrapper .inner_box .cart_box .c2a_btns a:first-child{
	margin: 0 0 10px;
}
.cart_wrapper .empty_cart_wrapper{
	padding: 10% 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.cart_wrapper .empty_cart_wrapper .empty_cart{
	width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #9b9b9b2e;
    padding: 50px 0;
}
.cart_wrapper .empty_cart .text{
	padding: 10px 0 0 0;
}
.cart_wrapper .empty_cart_wrapper a{
	margin: 10% 0 0 0;
}

/*cart_page*/
.cart_page{
	padding: 20px 0 0 0;
	min-height: calc(100vh - var(--header-height) - 451px);
}
.cart_page .remove_product{
	--size: 13px;
	width: var(--size);
	height: var(--size);
	/*position: absolute;
	top: 10px;
	right: 10px;*/
	background: linear-gradient(45deg, transparent calc(50% - 1px), #000 calc(50% - 1px) calc(50% + 1px), transparent calc(50% + 1px) 100%),linear-gradient(-45deg, transparent calc(50% - 1px), #000 calc(50% - 1px) calc(50% + 1px), transparent calc(50% + 1px) 100%);
	cursor: pointer;
	border: none;
	outline: none;
	transition: all 0.3s;
}
.cart_page .c2a_btns{
	padding: 15px 0 0 0;
}
.cart_page .c2a_btns button:first-child{
	margin: 0 10px 0 0;
}
.cart_page .inner_container{
	display: flex;
	flex-wrap: wrap;
}
.cart_page .inner_container form{
	width: calc(100% - 250px);
}
.cart_page .inner_container form tr td:nth-child(2){
	text-align: left;
}
.cart_page .inner_container form tr td .product_title{
	font-size: 15px;
	font-weight: 600;
	color: #444;
}
.cart_page .inner_container form tr td .product_description{
	font-size: 13px;
}
.cart_page .inner_container .right_pane{
	width: 250px;
	text-align: center;
}
.cart_page .inner_container .right_pane .checkout_btn_wrapper{
	position: sticky;
	top: var(--header-height);
}
.spinners{
	position: relative;
	cursor: not-allowed;
}
.spinners::before{
	position: absolute;
	left: 0;
	top: 0;
	content: '';
	width: 100%;
	height: 100%;
	display: flex !important;
	justify-content: center;
	align-items: center;
	background: var(--red);
	color: #fff;
	z-index: 10;
}
.spinners::after{
	position: absolute;
	content: '';
	left: calc(50% - 10px);
	top: calc(50% - 10px);
	width: 20px;
	height: 20px;
	border: 2px solid transparent;
	border-radius: 50%;
	border-top: 2px solid #ffffff;
	border-bottom: 2px solid #ffffff;
	-webkit-animation: spin 1.5s linear infinite;
	animation: spin 1.5s linear infinite;
	z-index: 11;
}

/* Safari */
@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

/*competitors_page*/
.competitors_page{
	min-height: calc(100vh - var(--header-height) - 451px);
}
.competitors_page .heading {
    padding: 30px 0;
    background: linear-gradient(45deg, #ff01000d, #0000001a, #ff01000d);
    color: #000;
}
.competitors_page .products_wrapper .product_box{
	width: 100%;
	flex-direction: row;
	align-items: center;
}
.competitors_page .products_wrapper .product_box .img_box{
	width: 150px;
	margin: auto 0;
}
.competitors_page .products_wrapper .product_box .text_box{
	width: calc(100% - 150px);
	display: flex;
	flex-direction: column;
}
.competitors_page .products_wrapper .product_box .text_box .competitor_title{
	font-size: 16px;
	padding: 0 0 5px;
}
.competitors_page .products_wrapper .product_box .text_box .product_title{
	font-size: 20px;
	padding: 0 0 5px;
}
.competitors_page .products_wrapper .product_box .text_box .sub_category_title{
	font-size: 15px;
	padding: 0 0 5px;
}
.competitors_page .products_wrapper .product_box .text_box .description{
	font-size: 13px;
	color: #6d6e70;
}
.competitors_page .products_wrapper .product_box .add_to_cart_inputs{
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	padding: 15px 0 0;
}
.competitors_page .products_wrapper .product_box .add_to_cart_inputs .number_input{
	margin: 0 10px 0 0;
}
.competitors_page .products_wrapper .product_box .add_to_cart_inputs .add_to_cart{
	padding: 5px 20px;
}

.competitors_search_wrapper{
	text-align: center;
	padding: 0 0 15px;
}
.competitors_search_wrapper .competitors_search{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #ddd;
	border-radius: 50px;
}
.competitors_search_wrapper .competitors_search .input_box input{
	font-size: 16px;
	padding: 10px 20px;
	border-radius: 50px;
	outline: none;
	border: none;
	width: 500px;
}
.competitors_search_wrapper .competitors_search .icon_box{
	font-size: 20px;
	padding: 10px 15px 10px 10px;
	color: #fff;
	background: var(--red);
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
	border: none;
	outline: none;
}

#search_results{
	position: absolute;
    left: 0;
    top: 40px;
    background: #fff;
    width: 100%;
    z-index: 1;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: none;
}
header.smaller #search_results{
	top: 28px;
}
#search_results ul{
	display: flex;
	flex-wrap: wrap;
	border: 1px solid #0000001a;
	border-bottom: none;
}
#search_results ul li{
	width: 50%;
}
#search_results ul li a{
	display: flex;
    align-items: center;
	height: 100%;
	border-bottom: 1px solid #0000001a;
	transition: all 0.3s;
}
#search_results ul li a:hover{
	background: #0000001a;
}
#search_results ul li:nth-child(odd) a{
	border-right: 1px solid #0000001a;
}
#search_results ul li:nth-last-child(1) a{
	border-bottom: none;
}

#search_results ul li a .img_box{
	width: 65px;
}
#search_results ul li a .product_title{
	width: calc(100% - 65px);
}
#search_results .title{
	text-align: center;
	font-size: 16px;
	padding: 15px 0;
	border: 1px solid #0000001a;
}
#search_results .view_all{
	text-align: center;
	width: 100%;
	padding: 10px;
	border: 1px solid #0000001a;
	/*border-top: none;*/
	outline: none;
	background: #ffffff;
	color: #000;
	text-transform: uppercase;
	transition: all 0.3s;
}
#search_results .view_all:hover{
	background: #0000001a;
}
#search_results .other_box{
	padding: 10px;
}
#search_results .other_box .sub_title{
	font-size: 14px;
	display: flex;
	align-items: center;
	padding: 0 0 10px;
}
#search_results .other_box .sub_title .text{
	padding: 0 0 0 5px;
}
#search_results .recent_searches ul{
	border: none;
}
#search_results .recent_searches ul li{
	width: 100%;
}
#search_results .recent_searches ul li a{
	font-size: 14px;
    padding: 6px;
    color: #000000;
}
#search_results .recent_searches ul li:nth-child(odd) a{
	border-right: none;
}
#search_results .recent_searches ul li:nth-last-child(1) a{
	border-bottom: 1px solid #0000001a;
}
#search_results .recently_viewed ul{
	justify-content: space-between;
	border: none;
}
#search_results .recently_viewed ul li{
	width: calc((100% / 5) - 10px);
}
#search_results .recently_viewed ul li a{
	display: flex;
	flex-direction: column;
	border: 1px solid #0000001a;
	padding: 5px;
}
#search_results .recently_viewed ul li a .img_box{
	width: 90%;
	margin: auto;
}
#search_results .recently_viewed ul li a .img_box img{
	width: 100%;
}
#search_results .recently_viewed ul li a .text{
	padding: 5px 0 0 0;
	font-size: 13px;
}
.mobile_menu_btn{
	display: none;
}

/*checkout_page*/
.checkout_page{
	padding: 20px 0 0 0;
}
.checkout_page .enquiry_product_list .products_wrapper{
	padding: 0;
	max-height: 432px;
    overflow: auto;
}
.checkout_page .enquiry_product_list .products_wrapper .product_box{
	width: 100%;
	margin: 0;
    padding: 10px;
}
.checkout_page .enquiry_product_list .products_wrapper .product_box a{
	display: flex;
	align-items: center;
	--size: 60px;
}
.checkout_page .enquiry_product_list .products_wrapper .product_box a .img_box{
	width: var(--size);
}
.checkout_page .enquiry_product_list .products_wrapper .product_box a .text_box{
	width: calc(100% - var(--size));
	padding: 0 0 0 10px;
}
.checkout_page .enquiry_product_list .products_wrapper .product_box a .text_box .product_title{
	font-size: 14px;
}
.checkout_page .enquiry_product_list .products_wrapper .product_box a .text_box .product_description{
	font-size: 12px;
}
.checkout_page .enquiry_product_list .products_wrapper .product_box a .text_box .product_count{
	font-size: 14px;
}
.checkout_page .info_text p{
	font-size: 14px;
    line-height: 1.2em;
    padding: 10px 0;
}
.checkout_page .info_text p a{
	text-decoration: underline;
}
footer .second_last_sec{	
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
footer .second_last_sec .inner_container{
	display: flex;
	justify-content: space-between;
	padding: 40px 0 10px 0;
	font-size: 15px;
}
footer .second_last_sec .inner_container .info_box{
	max-width: 25%;
}
footer .second_last_sec .inner_container .info_box .logo_box{
	width: 150px;
}
footer .second_last_sec .inner_container .info_box .text_box p{
	font-size: 14px;
    line-height: 1.4em;
    color: #ddd;
    background: #000000;
    padding: 15px 0;
}
footer .second_last_sec .inner_container .info_box .title{
	font-size: 18px;
	text-transform: none;
	padding: 0 0 10px;
	color: #fff;
}
footer .second_last_sec .inner_container .info_box ul li{
	padding: 0 0 5px;
}
footer .second_last_sec .inner_container .info_box ul li a{
	color: #fff;
}
footer .second_last_sec .inner_container .info_box ul.ctc_links li{
	padding: 0 0 10px 0;
}
footer .second_last_sec .inner_container .info_box ul.ctc_links li .ctc_link_box{
	display: flex;
	align-items: center;
}
footer .second_last_sec .inner_container .info_box ul.ctc_links li .ctc_link_box .icon{
	color: var(--red);
	padding: 0 10px 0 0;
}
footer .second_last_sec .inner_container .info_box .subscribe_box .input_box input{
	border: 1px solid var(--red);
	background: unset;
	border-radius: 100px;
	padding: 10px;
	color: #fff;
	margin: 0 0 15px;
	width: 100%;
}
footer .second_last_sec .inner_container .info_box .subscribe_box .input_box input::placeholder{
	color: #ddd;
}
footer .second_last_sec .inner_container .info_box .developed_by{
	display: inline-flex;
    align-items: center;
    margin: auto 0 0 0;
    padding: 15px 0 0 0;
}

/*thank_you_page*/
.thank_you_page{
	min-height: calc(100vh - var(--header-height) - 518.2px);
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.thank_you_page .sub_title{
	padding: 0;
}